# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_Fgza3YAJV9qT@ep-snowy-wave-aino2mts-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Security Configuration
SECRET_KEY="your-secret-key"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS Configuration
CORS_ORIGINS=["http://localhost:3000", "http://127.0.0.1:3000"]

# Server Configuration
HOST=0.0.0.0
PORT=8000